<footer data-role="footer" data-position="fixed">
	<h3>~Que todos los seres, en todos los mundos, sean felices!~</h3>
	<nav data-role="navbar">
		<ul>
			<li><a href="about.html" data-icon="info">Acerca de</a></li>
			<li><a href="contact.html" data-icon="mail">Contacto</a></li>
			<li><a href="preferences.html" data-icon="gear">Configuración</a></li>
			<li><a href="timer.html" data-icon="clock">Meditar</a></li>
		</ul>
	</nav>
</footer>

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
	app.initialize();
	storeThisPage();
</script>

