<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div data-role="page" id="{{page.id}}">
	<header data-role="header">
		{% if page.backTo %}
		<a href="{{page.backTo}}.html" data-iconpos="notext" data-icon="home">Inicio</a>
		{% endif %}
			<h1>Bhavana | {{page.title}}</h1>
		</header>

	<form action="#">
		<select id="cause">
			<option value="0">Voy a meditar por...</option>
			<option value="paz">La Paz</option>
			<option value="com">Compasión</option>
			<option value="hum">Humildad</option>
		</select>
	</form>

	<div align="center" style="padding: 10px">
		<div class="ui-corner-all custom-corners">
			<div class="ui-bar ui-bar-a">
					{{ content }}
			</div>
			<div class="ui-body ui-body-a">
				<p>
				<audio controls id="meditation">
				<source src="audio/meditations/{{page.id}}.mp3" type="audio/mpeg">
				Your browser does not support the audio tag.
			</audio>
			</p>
		</div>
	</div>

</div>

<div data-role="navigator">
	<nav data-role="navbar">
		<ul>
			{% if page.backTo %}
			<li>
			<a href="{{page.backTo}}.html" onClick="return stopPlayer();" data-transition="slidedown" data-icon="arrow-l">Volver</a>
			<li>
			{% endif %}

			{% if page.goTo %}
			<a href="{{page.goTo}}.html" onClick="return stopPlayer();" data-transition="slidedown" data-icon="arrow-r">Siguiente</a>
			{% endif %}
		</ul>
	</nav>
</div>

{% include footer.html %}
</div><!-- end main div-->

</body>

</html>
